.cart{
    padding: 20px 0 100px 0;
}
.payable-cart{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 85%;
    margin: 30px auto;
    padding: 15px;
    font-size: 20px;
    font-family: kalameh;
    border-radius: 15px;
}
.payable{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: var(--red-color);
}
.pay-icon{
    width: 30%;
    font-size: 25px;
    border-left: 3px dashed var(--red-color);
}