header{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
}
.header-logo{
    font-family: kalameh;
    color: var(--red-color);
    font-size: 25px;
}