/* Add Fonts */
@font-face {
    font-family: mtn-light;
    src: url("../public/fonts/mtn-light.ttf");
}
@font-face {
    font-family: Kalameh;
    src: url("../public/fonts/kalameh.TTF");
}
/* Global styles */
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: mtn-light;
}
:root{
    --red-color : #EF3F3E;
    --gray-color : #818285;
}
.active-route{
    color: #000;
}
.add-to-cart-btn{
    all: unset;
    background-color: var(--red-color);
    color: #fff;
    padding: 10px;
    width: 75%;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}